@keyframes x1 {
    0% {
        left: 30%;
    }
    50% {
        left: 30%;
    }
    100% {
        left: 30%;
    }
}

@keyframes y1 {
    0% {
        top: 15%;
    }
    50% {
        top: 10%;
    }
    100% {
        top: 15%;
    }
}

@keyframes x2 {
    0% {
        left: 40%;
    }
    50% {
        left: 35%;
    }
    100% {
        left: 40%;
    }
}

@keyframes y2 {
    0% {
        top: 10%;
    }
    50% {
        top: 30%;
    }
    100% {
        top: 10%;
    }
}

@keyframes x3 {
    0% {
        left: 48%;
    }
    50% {
        left: 45%;
    }
    100% {
        left: 48%;
    }
}

@keyframes y3 {
    0% {
        top: 20%;
    }
    50% {
        top: 18%;
    }
    100% {
        top: 20%;
    }
}

@keyframes x4 {
    0% {
        left: 45%;
    }
    50% {
        left: 48%;
    }
    100% {
        left: 45%;
    }
}

@keyframes y4 {
    0% {
        top: 35%;
    }
    50% {
        top: 38%;
    }
    100% {
        top: 35%;
    }
}

@keyframes x5 {
    0% {
        left: 40%;
    }
    50% {
        left: 30%;
    }
    100% {
        left: 40%;
    }
}

@keyframes y5 {
    0% {
        top: 40%;
    }
    50% {
        top: 30%;
    }
    100% {
        top: 40%;
    }
}

@keyframes x6 {
    0% {
        left: 30%;
    }
    50% {
        left: 25%;
    }
    100% {
        left: 30%;
    }
}

@keyframes y6 {
    0% {
        top: 38%;
    }
    50% {
        top: 30%;
    }
    100% {
        top: 38%;
    }
}

@keyframes vastag {
    0% {
        width: 20rem;
    }
    50% {
        width: 30rem;
    }
    100% {
        width: 20rem;
    }
}

@keyframes forog {
    100% {
        transform: rotate(360deg);
    }
}

.bubblel {
    position: absolute;
    height: 40vh;
    border-radius: 50%;
    background: #777;
    filter: blur(2rem);
}

.bubblel:first-child {
    transform: rotate(60deg);
    animation: y1 linear 370s infinite, x1 ease-in-out 230s infinite,
        vastag linear 290s infinite, forog linear 310s infinite;
}

.bubblel:nth-child(2) {
    animation: y2 ease-in 410s infinite, x2 ease-in-out 470s infinite,
        vastag linear 230s infinite, forog linear 290s infinite;
}

.bubblel:nth-child(3) {
    transform: rotate(-60deg);
    animation: y3 ease-out 430s infinite, x3 ease-in-out 530s infinite,
        vastag linear 290s infinite, forog linear 310s infinite;
}

.bubblel:nth-child(4) {
    transform: rotate(70deg);
    animation: y4 ease-in-out 470s infinite, x4 ease-in-out 590s infinite,
        vastag linear 310s infinite, forog linear 410s infinite;
}

.bubblel:nth-child(5) {
    transform: rotate(90deg);
    animation: y5 ease-in-out 290s infinite, x5 ease-in-out 310s infinite,
        vastag linear 370s infinite, forog linear 470s infinite;
}

.bubblel:last-child {
    animation: y6 linear 530s infinite, x6 ease-in-out 290s infinite,
        vastag linear 190s infinite, forog linear 370s infinite;
}
